.login-pf body {
  background-image: url(../img/infinispan_login_background.png);
}

.login-pf #brand img {
  height: 30px;
}

.navbar-pf .navbar-brand img {
  height: 20px;
}

.sidebar-pf fieldset label {
  display: block;
}

table.ispn-aligned tr td {
  vertical-align:middle;
}

.noUi-horizontal {
	height: 10px;
}
.noUi-horizontal .noUi-handle {
	width: 18px;
	height: 14px;
	left: -9px;
	top: -2px;
}
.noUi-handle:before,
.noUi-handle:after {
	content: "";
	display: block;
	position: absolute;
	height: 7px;
	width: 1px;
	background: #E8E7E6;
	left: 7px;
	top: 3px;
}
.noUi-connect {
	background: #0099D3;
}

.card-pf-body table td {
    text-align: right;
}

.card-pf-body table {
    margin-bottom: 0.5em;
}